.calculator {
  background-color: #000;
  margin: 0 auto;
  width: 65%;
  form {
    .form-control {
      text-align: right;
      background: transparent;
      color: #fff;
      font-size: 3rem;
      border: none;
      border-radius: 0;
    }
  }
  .btn {
    width: 50px;
    height: 50px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    &.btn-opr1 {
      background-color: gray;
      color: #333;
    }
    &.btn-number {
      background-color: #333;
      color: #fff;
    }
    &.btn-opr2 {
      background-color: orange;
      color: #fff;
    }
  }
}
